/* Navbar base styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0a0f2c;
  padding: 1rem 2rem;
  color: white;
  position: fixed;
  top: 0;
  width: 96%;
  /* max-width: 14px; */
  z-index: 1000;
}

.logo {
  font-weight: bold;
  font-size: 1.3rem;
}

/* Nav links */
.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}

.nav-links a:hover {
  color: #d3d3d3;
}

/* Hamburger */
.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

/* Responsive (mobile) */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #0a0f2c;
    flex-direction: column;
    width: 100%;
    display: none;
    text-align: center;
    padding: 1rem 0;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
